@import url(index.css);
.about{
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0px 200px;
}
#head{
    font-size: 45px;
    text-align: center;
    color: rgb(71, 2, 46);
}
#head2{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: crimson;
}
.about p, .about h3{
  margin-top: 7px;
}
.about p , .about ul li{
  font-size: 18px;
}